<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 绑定一个对应的 Dao/Mapper 接口-->
<mapper namespace="com.example.mapper.UserDao">
    <insert id="addUser" parameterType="User">
        insert into users(username,password,statusid) values (#{username},#{password},#{status.id})
    </insert>

    <delete id="deleteUser" parameterType="integer">
        delete from users where  userid=#{userId}
    </delete>

    <select id="findAll" resultType="User">
        select * from users
    </select>

    <select id="findUser" resultType="User" parameterType="User">
        select * from users where username=#{username} and password=#{password}
    </select>


</mapper>