<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 绑定一个对应的 Dao/Mapper 接口-->
<mapper namespace="com.example.mapper.UserDao">
    <!--User对象模型-->
    <resultMap id="user" type="User">
        <id property="userid" column="userid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="status" resultMap="status"/>
    </resultMap>
    <!--Status对象模型-->
    <resultMap id="status" type="com.example.pojo.Status">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="addUser" parameterType="User">
        insert into users(username,password,statusid) values (#{username},#{password},#{status.id})
    </insert>

    <delete id="deleteUser" parameterType="integer">
        delete from users where  userid=#{userId}
    </delete>

    <select id="findAll" resultMap="user">
        select * from users,userstatus where id = statusid
    </select>

    <select id="findUser" resultType="User" parameterType="User">
        select * from users where username=#{username} and password=#{password}
    </select>


</mapper>